export OS_USERNAME=obvs
export OS_PASSWORD=obvs
export OS_PROJECT_NAME=project not the contract
export OS_PROJECT_ID=from api url hex
export OS_AUTH_URL=https://identity.uk-1.cloud.global.fujitsu.com/v3
export OS_REGION_NAME=uk-1
export OS_VOLUME_API_VERSION=2
export OS_IDENTITY_API_VERSION=3
export OS_USER_DOMAIN_NAME=contract id
export OS_DEFAULT_DOMAIN=contract id
