#
#
#
guacd-hostname: localhost
guacd-port:    4822
#
# MySQL properties
#
mysql-hostname: localhost
mysql-port: 3306
mysql-database: {{ guacamole.db.name }}
mysql-username: {{ guacamole.db.user }}
mysql-password: {{ guacamole.db.user_pass }}

# Additional settings
mysql-default-max-connections-per-user: 0
mysql-default-max-group-connections-per-user: 0
